
CPP/pipe_file/thread.exe
CPP/pipe_file/thread.py
CPP/pipe_file/.vs/pipe_file/v15/.suo
CPP/pipe_file/.vs/pipe_file/v15/Browse.VC.db
CPP/pipe_file/.vs/pipe_file/v15/Browse.VC.opendb
CPP/pipe_file/.vs/pipe_file/v15/ipch/9d296141b5f2c75.ipch
CPP/pipe_file/x64/Debug/pipe_file.exe
CPP/pipe_file/x64/Debug/pipe_file.log
CPP/pipe_file/x64/Debug/pipe_file.ilk
CPP/pipe_file/x64/Debug/pipe_file.obj
CPP/pipe_file/x64/Debug/pipe_file.pch
CPP/pipe_file/x64/Debug/pipe_file.pdb
CPP/pipe_file/x64/Debug/pipe_file.tlog/CL.command.1.tlog
CPP/pipe_file/x64/Debug/pipe_file.tlog/CL.read.1.tlog
CPP/pipe_file/x64/Debug/pipe_file.tlog/CL.write.1.tlog
CPP/pipe_file/x64/Debug/pipe_file.tlog/link.command.1.tlog
CPP/pipe_file/x64/Debug/pipe_file.tlog/link.read.1.tlog
CPP/pipe_file/x64/Debug/pipe_file.tlog/link.write.1.tlog
CPP/pipe_file/x64/Debug/pipe_file.tlog/pipe_file.lastbuildstate
CPP/pipe_file/x64/Debug/stdafx.obj
CPP/pipe_file/x64/Debug/vc141.idb
CPP/pipe_file/x64/Debug/vc141.pdb
