
CPP/pipe_file/thread.exe
CPP/pipe_file/thread.py
CPP/pipe_file/.vs/pipe_file/v15/.suo
CPP/pipe_file/.vs/pipe_file/v15/Browse.VC.db
CPP/pipe_file/.vs/pipe_file/v15/Browse.VC.opendb
CPP/pipe_file/.vs/pipe_file/v15/ipch/9d296141b5f2c75.ipch
CPP/pipe_file/x64/Debug/pipe_file.exe
CPP/pipe_file/x64/Debug/pipe_file.log
CPP/pipe_file/x64/Debug/pipe_file.ilk
CPP/pipe_file/x64/Debug/pipe_file.obj
CPP/pipe_file/x64/Debug/pipe_file.pch
CPP/pipe_file/x64/Debug/pipe_file.pdb
CPP/pipe_file/x64/Debug/pipe_file.tlog/CL.command.1.tlog
CPP/pipe_file/x64/Debug/pipe_file.tlog/CL.read.1.tlog
CPP/pipe_file/x64/Debug/pipe_file.tlog/CL.write.1.tlog
CPP/pipe_file/x64/Debug/pipe_file.tlog/link.command.1.tlog
CPP/pipe_file/x64/Debug/pipe_file.tlog/link.read.1.tlog
CPP/pipe_file/x64/Debug/pipe_file.tlog/link.write.1.tlog
CPP/pipe_file/x64/Debug/pipe_file.tlog/pipe_file.lastbuildstate
CPP/pipe_file/x64/Debug/stdafx.obj
CPP/pipe_file/x64/Debug/vc141.idb
CPP/pipe_file/x64/Debug/vc141.pdb
CPP/pipe_file/.vs/pipe_file/v15/ipch/AutoPCH/9cf1af9f511fe49f/VCTMP11772_351582.PIPE_FILE.91AFCC88.ipch
CPP/pipe_file/.vs/pipe_file/v15/ipch/AutoPCH/e400bc5a61b58a1b/VCTMP11772_837676.PIPE_FILE.3D11C620.ipch
CPP/git_console/git_console/Debug
CPP/git_console/git_console/ReadMe.txt
CPP/git_console/git_console/ipch/
CPP/git_console/git_console/git_console.opensdf
CPP/git_console/git_console/git_console.suo
CPP/git_console/git_console/git_console.sdf
